.CanTrade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 63px;
  margin: 0 0 0 40px;
  border: 2px solid #7B61FF;
  box-sizing: border-box;
  border-radius: 46px;
}

.CanTrade-icon {
  margin: 4px 0 0 0;
  color: #7B61FF;
}

.CanTrade-text {
  color: #7B61FF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}