.TradeSettings {
  background: #F8F8F8;
  padding: 20px;
}

.TradeSettings-columns {
  display: flex;
  flex-direction: row;
}

.TradeSettings-sellColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#sellTokenSelect {
  max-width: 120px;
}

.TradeSettings-changeIconColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.TradeSettings-buyColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

#buyTokenSelect {
  max-width: 120px;
}

.TradeSettings-formItem {
  margin: 20px 0 0 0;
}

.TradeSettings-prices {
  
}

.TradeSettings-cta {
  margin: 20px 0 0 0;
}

.TradeSettings-ctaButton {
  width: 100%;
}
