.CreateSwapPage {
  max-width: 900px;
  height: 100%;
}

.CreateSwapPage-title {
  font: normal normal 200 88px/108px Montserrat, sans-serif;
  font-size: 88px;
  text-transform: uppercase;
}

.CreateSwapPage-titleColored {
  color: #7B61FF;
}

.CreateSwapPage-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}