@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url(./assets/fonts/Montserrat-ExtraLight.ttf) format('truetype');
}

.App {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
}

.Header {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 900px;
}

.Header-logoContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.Header-separator {
  height: 0;
  border: 1px solid #000000;
  margin: 40px 0 40px 0;
}

.Header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-link {
  text-decoration: none;
  font: normal normal normal 18px/22px Montserrat, sans-serif;
  color: #000000;
  margin: 0 40px 0 40px;
}

.Header-linkActive {
  border-bottom: 1px solid #000000;
  padding: 10px;
}

.Content {
  max-width: 900px;
  min-width: 900px;
  flex-grow: 1;
}

.Footer {
  width: 100%;
  background: #000000;
}

.Footer-logoContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
