@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
}

.Header {
  display: flex;
  flex-direction: column;
  
}

.Header-logoContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.Header-separator {
  height: 0;
  border: 1px solid #000000;
  margin: 40px 0 40px 0;
}

.Header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-link {
  text-decoration: none;
  font: normal normal normal 18px/22px Montserrat, sans-serif;
  color: #000000;
  margin: 0 40px 0 40px;
}

.Footer {
  width: 100%;
  background: #000000;
}

.Footer-logoContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
}
